<div ng-controller="MainController as vm" layout="column">
	<h1 id="banner" class="animated bounceInDown">Playlytics</h1>
	<md-content layout-padding class="animated fadeIn" layout="column">
	  <form ng-submit="$event.preventDefault()">
	  	<md-input-container>
        <label>Name of playlist</label>
        <md-input ng-model="vm.name" type="text" maxlength="20"></md-input>
      </md-input-container>
	      <md-autocomplete id="auto" class="animated fadeIn"
	      	ng-disabled="vm.isDisabled"
	        md-selected-item="vm.selectedItem"
	        md-search-text-change="vm.searchTextChange(vm.searchText)"
	        md-search-text="vm.searchText"
	        md-selected-item-change="vm.selectedItemChange(track)"
	        md-items="track in vm.querySearch(vm.searchText)"
	        md-item-text="track.name"
	        md-min-length="0"
	        placeholder="Search for a track">
	      <md-item-template>
	      <span md-highlight-text="vm.searchText" md-highlight-flags="^i">
	      	{{ track.name }} by {{ track.artists[0].name }}
	      </span>
	    	</md-item-template>
	    </md-autocomplete>
	  </form>
		<div id="playlist" class="col-xl-6 col-lg-8 col-md-8 col-sm-10 col-xs-12">
		<div id="total" class="ignore">
			<span id="listName">{{ vm.name }}</span>
			<span id="stats">{{ vm.timeConvert(vm.totalTime) }}
			<rating value="vm.total / 20" max="vm.max" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" readonly="vm.isReadonly"></rating></span>
		</div>
	   <div ui-sortable="sortableOptions" ng-model="vm.items" class="tracks">
	     <div ng-repeat="item in vm.items" class="item animated fadeIn">
	       {{item.name}} by {{item.artists[0].name}} <br> {{ vm.timeConvert(item.duration_ms) }}
	       <rating value="item.popularity / 20" max="vm.max" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" readonly="vm.isReadonly"></rating>
	       <md-button id="remove" class="md-raised md-warn" ng-click="vm.removeTrack($index)">Remove</md-button>
	     </div>
	   </div>
	  <div id="buttons" class="ignore">
	  	<md-button ng-click="vm.showAlert($event)" class="md-primary">Save</md-button>
	  	<md-button ng-click="vm.clear()" class="md-warn">Clear</md-button>
	  </div>
	 </div>
	</md-content>
</div>